@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Passion+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Indie Flower", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    min-height: 100vh;
    background-color: #1a1a1d;
    font-family: var(--fonte1);
}

header {
    background-color: #f5f5f5;
    color: #1a1a1d;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: #1a1a1d;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;;
}

section > p {
    padding-bottom: 2em;;
}

section.normal {
    background-color: #1a1a1d;
    color: #f5f5f5;
}

section.imagem {
    background-color: rgb(34, 29, 29);
    color: #f5f5f5;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/piano.png');
    background-position: right center; 
}

section#img02 {
    background-image: url('../imagens/chuva.png');
}

footer {
    background-color: #f5f5f5;
    color: #1a1a1d;
    text-align: center;
    padding: 10px;
}